@model IEnumerable<Links_Front.Models.User>

@{
    Layout = null;
    ViewData["UserType"] = 'A';
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard - Links.PT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trabalho_Final.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar_Override">
            <div class="container-fluid">
                <a class="navbar-brand" id="Navbar_logo" asp-area="" asp-controller="Home" asp-action="Index">Links_._PT</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="vr text-dark h-100 "></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Indez">Privacy</a>
                        </li>
                        <li class="nav-item">

                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
             <div class="flex-wrap justify-content-between">
                 <div class="row">
                     <div class="col-9 bg-white admin-container" id="Adm_UserList_Container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastLogin)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Active)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model) {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastLogin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Active)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Reset_Pass" asp-route-id="@item.Id">Reset Password</a> |
                                        <a asp-action="Deactivate" asp-route-id="@item.Id">Deactivate</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2 g-3" >
                        <div class="bg-white text-center container" id="Adm_Controls_Container">
                            <div class="row">
                                <h3 class="text-dark">Dashboard</h3>
                            </div>
                            <div class="row">
                                <div>
                                  <a asp-action="New" class="btn btn-primary">New Colaborator</a>

                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <a asp-controller="Home" asp-action="New_User" class="btn btn-primary">Create User</a>

                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <a asp-action="Create" class="btn btn-primary">Drop Inactive</a>
                                   <p class="text-dark">Drop all deactivated accounts that have been so for over a month</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted" id="footer_Override">
        <div class="container">
            &copy; 2022 - Trabalho_Final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


